#header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 134px 0 135px;
}

#navegacion {
  display: flex;
  align-items: center;
}

#navegacion img {
  width: 41, 58px;
  height: 41.58px;
}

#navegacion a {
  font-size: 2em;
  font-family: "Poppins";
  margin-left: 10.92px;
  color: #2e2e2e;
  font-weight: bold;
}

#menu {
  list-style: none;
  display: flex;
  margin-left: 274.1px;
}

#menu li {
  display: inline;
  padding: 10px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #4d4d4d;
}

#menu li :hover {
  color: #f55253;
}

#searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 301px;
  height: 67px;
  border-radius: 6px;
  box-shadow: 0px 20px 50px 0.68px rgba(0, 0, 0, 0.04);
}

#lupa {
  width: 15.45px;
  height: 16px;
  margin-right: 8.55px;
  margin-left: 20px;
}
.search {
  width: 289px;
  height: 54px;
  border: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

#lineaVertical {
  height: 27px;
  width: 1.5px;
  border-width: 0;
  color: #f2f2f2;
  background-color: #f2f2f2;
  margin-right: 16px;
}
.searchBar img {
  width: 24px;
  height: 24px;
}

#numero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 38px;
  background-color: #f54b4b;
  box-shadow: 0px 20px 50px -6px rgba(238, 67, 67, 0.68);
}
#numero span {
  color: #fffdfd;
  font-size: 14px;
  font-weight: 600;
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#moreFaster {
  background-color: #fdecec;
  display: flex;
  border-radius: 26px;
  width: 214px;
  height: 46px;
  margin-top: 98px;
  align-items: center;
  justify-content: center;
}

#moreFaster img {
  width: 26px;
  height: 24px;
}

#moreFaster span {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  color: #f55556;
  margin-right: 12px;
}

#imgIzquierda {
  display: flex;
  flex-direction: column;
  margin-left: 8.438em;
}

#imgIzquierda h1 {
  width: 578px;
  height: 264px;
  left: 135px;
  top: 263px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;

  letter-spacing: -0.01em;

  color: #2e2e2e;
}

.color {
  color: #f54748;
}

#parrafo {
  font-family: "Poppins";
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.5%;
  color: #676767;
}

.headerButtons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;
}
#order {
  width: 186px;
  height: 70px;
  background-color: #f86061;
  color: #fffafa;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}

#orderProcess {
  display: flex;
  align-items: center;
  margin-left: 34px;
  width: 224px;
  height: 70px;
}

#eclipse {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
}
#triangulo {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdc55e;
  clip-path: polygon(0 0, 0 100%, 100% 53%);
}

#orderProcess p {
  color: #363636;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}

#imgDerecha {
  width: 619px;
  height: 605px;
  margin-top: 39px;
  margin-right: 6.75em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#card01 {
  width: 182px;
  height: 272px;
  margin-bottom: 10em;
  position: absolute;
  z-index: 1;
}

#naranjas {
  width: 101px;
  height: 88px;
  position: relative;
  bottom: 17.3em;
  left: 3em;
}

.sombras {
  filter: drop-shadow(0px 150px 80px rgba(0, 0, 0, 0.08));
}

#card01Marco {
  width: 182px;
  height: 272px;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniTxt {
  width: 82px;
  height: 76px;
  margin-top: 10px;
  margin: 105px 50px 54px 50px;
}

#miniTxt2 {
  font-family: "Poppins";
  font-size: 10px;
  color: #a5a5a5;
}

#card01Marco h4 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
}

#card01Marco h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  margin-top: 16px;
}

#card01Marco hr {
  width: 23%;
  height: 2px;
  margin-left: 2.3em;
  background-color: #ffa610;
  margin-top: 6px;
  border: none;
}

#carritoAgregar {
  position: relative;
  bottom: 10.2em;
  left: 1.7em;
}

#fondoCheff {
  position: absolute;
  margin-top: 18.5em;
  z-index: -2;
  width: 417px;
  height: 312px;
  filter: drop-shadow(0px 1px 2px #b1aeae);
}

#imgCheff {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12em;
  z-index: 1;
  filter: drop-shadow(0px 3px 3px #686363);
}
#cheff {
  width: 330px;
  height: 580px;
  margin-top: 0.4em;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    0% 90.8%,
    0% 100%,
    0% 100%
  );
  filter: drop-shadow(0px 4px 2px #747272);
}

#card02 {
  width: 160px;
  height: 74px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 21.5em;
  margin-left: 31.4em;
  /* fill */
  background: #ffffff;
  box-shadow: 0px 40px 70px -10px rgba(0, 0, 0, 0.08);
}

#fondoCard02 span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #404040;
}
#fondoCard02 h2 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  color: #a5a4a4;
}

#card02 img {
  width: 34px;
  height: 34px;
}

#flecha {
  width: 100px;
  height: 156.02px;
  position: absolute;
  margin-left: 31.5em;
  margin-bottom: 3.8em;
  z-index: 1;
}
#serve {
  background-color: #fef5f5;
  padding-top: 100px;
  font-family: poppins;
  margin-top: 74px;
  padding-bottom: 130px;
}

#serve h4 {
  color: #f54748;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
}

#serve h1 {
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0%;
}

#servicios {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#servicios div {
  width: 300px;
  height: 310px;
  margin-right: 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
}

#servicios h1 {
  font-size: 22px;
  font-weight: 700;
}

#servicios p {
  color: #676767;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cartas {
  position: relative;
  width: 300px;
  height: 310px;
  z-index: 1;
}

.cartas::before {
  content: "";
  position: absolute;
  inset: -20px;
  left: 9.33px;
  top: -2.46px;
  border-radius: 12px;
  z-index: -10;
  pointer-events: none;
}

.cartas::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  z-index: -1;
  pointer-events: none;
}

.cartas:hover::before {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(-3deg);
  background-color: #fe6a6a;
}

.cartas:hover::after {
  background-color: #ffffff;
}
